# ensure no data gets committed!
data/

# built HTML documentation
docs/_build

# If macOS opens files in Finder these may appear
._.DS_Store
.DS_Store

# conda env directories
env/
env-*/


include/AnnotationHubCache
logs
__pycache__
references_data
workflows/rnaseq/downstream/group.tsv
workflows/rnaseq/downstream/rnaseq.html
workflows/rnaseq/downstream/rnaseq_cache
workflows/rnaseq/downstream/rnaseq_files
workflows/rnaseq/downstream/clusterprofiler
workflows/rnaseq/downstream/upset_plots
workflows/rnaseq/downstream/final_clusters
workflows/rnaseq/downstream/rnaseq.log
workflows/rnaseq/downstream/*tsv
workflows/chipseq/data
workflows/rnaseq/data
workflows/colocalization/results
workflows/rnaseq/downstream/functional-enrichment.html
workflows/rnaseq/downstream/functional-enrichment_cache/
workflows/rnaseq/downstream/functional-enrichment_files/
workflows/rnaseq/downstream/Rplots.pdf
*.Rds
*.Rd
work
logs
references_dir/
slurm*out

# log files from workflows
Snakefile.log

# files created from running tests
*Snakefile.test

# snakemake metadata
.snakemake

# created when building track hubs
staging/

# created when checking strandedness of libraries
strand_check/

# various files and directories created by downstream tasks
workflows/colocalization/results
workflows/figures/figures
workflows/rnaseq/downstream/results
workflows/rnaseq/downstream/rnaseq_cache
workflows/rnaseq/downstream/rnaseq_files
workflows/rnaseq/downstream/rnaseq.html
