atropos
bedtools
bioconductor-annotationhub
bioconductor-biocparallel
bioconductor-clusterprofiler
bioconductor-degreport
bioconductor-deseq2
bioconductor-dupradar
bioconductor-genomeinfodbdata
bioconductor-genomicfeatures
bioconductor-reactomepa
bioconductor-s4vectors
bioconductor-sva
bioconductor-tximport
biopython >=1.68
bowtie2
cutadapt
deeptools >=3.0.1
fastqc
fastq-screen

# for fastqc running on circleci
font-ttf-dejavu-sans-mono

gat
gffutils >=0.8.7.1
ghostscript
git
graphviz
hisat2
intervalstats
ipython >=5.1.0
jsonschema >=2.5.1
kallisto
matplotlib
multiqc
nextgenmap
numpy >1.15
pandas >=0.19.2
pandoc
picard
preseq
pybedtools >=0.7.9
pysam >=0.10.0
pytest >=3.0.5
pytest-runner >=2.11
pytest-xdist
pyyaml >=3.12
r-base ==3.5.1
r-bindrcpp
r-codetools
r-dt
r-ggrepel
r-heatmaply
r-kernsmooth
r-knitr
r-knitrbootstrap
r-pheatmap
r-plotly
r-quantreg
r-readr
r-rmarkdown
r-spp
r-sparsem
r-upsetr
rseqc >=3.0
salmon
samtools >=1.4.1
scipy >=0.18.1
seaborn >=0.7.1
snakemake==5.5.4
sra-tools
star
subread
trackhub
ucsc-bedgraphtobigwig
ucsc-bedsort
ucsc-bedtobigbed
ucsc-bigwigmerge ==377
ucsc-fetchchromsizes
ucsc-gtftogenepred
ucsc-genepredtobed
ucsc-liftover
ucsc-oligomatch
ucsc-twobittofa
ucsc-wigtobigwig
