bedtools>=2.29.2
biopython>=1.76
bowtie>=1.2.3
bowtie2>=2.3.5.1
cutadapt>=2.10
deeptools>=3.4.3
fastq-screen>=0.14.0
fastqc>=0.11.9
font-ttf-dejavu-sans-mono>=2.37
gat>=1.3.6
gffread>=0.11.7
gffutils>=0.10.1
hisat2>=2.2.0
intervalstats>=1.01
ipython>=7.13.0
multiqc>=1.8
pandas>=1.0.3
pandoc>=2.9.2.1
picard>=2.22.3
preseq>=2.0.3
pybedtools>=0.8.1
pyfaidx>=0.5.8
pysam>=0.15.4
pytest>=5.4.1
pytest-xdist>=1.31.0
rseqc>=3.0.1
salmon>=1.2.1
samtools>=1.9
seaborn>=0.10.0
snakemake-minimal>=5.15.0
sra-tools>=2.10.7
star>=2.7.3a
subread>=2.0.0
trackhub>=0.2.4
ucsc-bedgraphtobigwig>=377
ucsc-bedsort>=377
ucsc-bedtobigbed>=377
ucsc-bigwigmerge>=377
ucsc-fetchchromsizes>=377
ucsc-genepredtobed>=377
ucsc-gtftogenepred>=377
ucsc-liftover>=377
ucsc-oligomatch>=377
ucsc-twobittofa>=377
ucsc-wigtobigwig>=377
