# only put tools that are needed for tests (e.g., `bowtie-build` is needed to make sure
# that bowtie-index worked), not for the wrappers themselves, which should have
# their own environment.yml files.
bowtie2 ==2.3.0
gffutils ==0.8.7.1
hisat2 ==2.0.5
lcdblib ==0.1
pysam ==0.9.1.4
pytest ==3.0.5
samtools ==1.3.1
snakemake ==3.10.1
