bioconductor-annotationhub
bioconductor-apeglm
bioconductor-biocparallel
bioconductor-clusterprofiler
bioconductor-degreport
bioconductor-deseq2
bioconductor-do.db
bioconductor-dupradar
bioconductor-genomeinfodbdata
bioconductor-genomicfeatures
bioconductor-rhdf5
bioconductor-ihw
bioconductor-reactomepa
bioconductor-s4vectors
bioconductor-sva
bioconductor-tximport
r-ashr
r-base<4.1
r-devtools
r-dt
r-ggally
r-ggnewscale
r-ggrepel
r-heatmaply
r-knitr
r-msigdbr
r-openxlsx
r-pheatmap
r-plotly
r-readr
r-rvcheck
r-rmarkdown
r-sparsem
r-spp
r-testthat
r-upsetr
