bioconductor-annotationhub
bioconductor-apeglm
bioconductor-biocparallel
bioconductor-clusterprofiler
bioconductor-degreport
bioconductor-deseq2
bioconductor-genomicfeatures
bioconductor-go.db
bioconductor-ihw
bioconductor-rhdf5
bioconductor-sva
bioconductor-tximport
r-ashr
r-base >4.1
r-devtools
r-dt
r-ggally
r-ggnewscale
r-ggrepel
r-heatmaply
r-knitr
r-msigdbr
r-openxlsx
r-pheatmap
r-plotly
r-readr
r-rvcheck
r-rmarkdown
r-sparsem
r-testthat
r-upsetr
