bedtools
biopython
bowtie
bowtie2
cutadapt>=3.0
deeptools
fastq-screen
fastqc
font-ttf-dejavu-sans-mono
gat
gffread
gffutils
hisat2
intervalstats
ipython
kallisto
multiqc
pandas
pandoc

# Pin to earlier version to avoid issue with older openjdk
picard <3.0

preseq
pybedtools
pyfaidx
pysam
pytest
pytest-xdist
python>=3.10
rseqc

# earlier versions of salmon can segfault on Slurm
salmon>=1.10.1

samtools
seaborn
snakemake-minimal
sra-tools
star
subread
trackhub
ucsc-bedgraphtobigwig
ucsc-bedsort
ucsc-bedtobigbed
ucsc-bigwigmerge
ucsc-fetchchromsizes
ucsc-genepredtobed
ucsc-gtftogenepred
ucsc-liftover
ucsc-oligomatch
ucsc-twobittofa
ucsc-wigtobigwig
