# NOTE: all paths are relative to the calling Snakefile.
#
# sampletable: TSV file defining sample metadata.
# First column must have header name "samplename".
sampletable: 'config/sampletable.tsv'

# Which key in the `references` dict below to use
organism: 'human'

# If not specified here, use the environment variable REFERENCES_DIR.
references_dir: 'references_data'

peaks_dir: 'data/chipseq_peaks'


chipseq:
  # The peak_calling section is a list of dicts, each one defining a single
  # chipseq peak-calling run. The output will be created according to `label`
  # and `algorithm`. There will be at least a file
  # `<peaks_dir>/<algorithm>/<label>/peaks.bed`; other files may be created
  # depending on the algorithm.
  #
  # Note that this directory structure means you can have the same label for
  # different peak-callers to more easily compare them.
  #
  # The `ip` and `control` sections expect names found in the "label" column of
  # the sampletable. This column describes the technical replicates, and the
  # merging step of the workflow merges and de-dupes appropriately so that the
  # peak callers only see BAMs with all duplicates removed.
  #
  # The "extra" block is used to pass extra information to the peak-caller in
  # a run-specific manner. Check the wrapper README for details on this. For
  # example, the macs2 wrapper passes `extra` verbatim to the command line, but
  # the spp wrapper handles things differently.
  #
  # Each wrapper is built to accept either single or multiple BAMs and output
  # at least a BED file of peaks.
  #
  peak_calling:
    - label: BRD4_dBET6_1
      algorithm: macs2
      ip:
        - BRD4_dBET6_1
      control:
        - mockIgG_dBET6_1
      # optional user-specified override mappable genome proportion if
      # specified here, SICER will use this value instead of the value specific
      # to the genome build if NOT specified here, SICER will use the
      # mappability value for your genome build
      #effective_genome_count: 7e7
      extra: '--nomodel -p 0.05 --cutoff-analysis'    # --broad for histones, paper says  in ‘histone’ mode for MTHFD1, but got very small number of peaks with --broad

    - label: BRD4_dBET6_2
      algorithm: macs2
      ip:
        - BRD4_dBET6_2
      control:
        - mockIgG_dBET6_2
      extra: '--nomodel -p 0.05 --cutoff-analysis'

    - label: BRD4_DMSO_1
      algorithm: macs2
      ip:
        - BRD4_DMSO_1
      control:
        - mockIgG_DMSO_1
      extra: '--nomodel -p 0.05 --cutoff-analysis'

    - label: BRD4_DMSO_2
      algorithm: macs2
      ip:
        - BRD4_DMSO_2
      control:
        - mockIgG_DMSO_2
      extra: '--nomodel -p 0.05 --cutoff-analysis'

    - label: MTHFD1_dBET6_1
      algorithm: macs2
      ip:
        - MTHFD1_dBET6_1
      control:
        - mockIgG_dBET6_1
      extra: '--nomodel -p 0.05 --cutoff-analysis'    # --broad for histones, paper says  in ‘histone’ mode for MTHFD1

    - label: MTHFD1_dBET6_1_inputCTRL
      algorithm: macs2
      ip:
        - MTHFD1_dBET6_1
      control:
        - input_dBET6_1
      extra: '--nomodel -p 0.05 --cutoff-analysis'

    - label: MTHFD1_dBET6_2
      algorithm: macs2
      ip:
        - MTHFD1_dBET6_2
      control:
        - mockIgG_dBET6_2
      extra: '--nomodel -p 0.05 --cutoff-analysis'

    - label: MTHFD1_DMSO_1
      algorithm: macs2
      ip:
        - MTHFD1_DMSO_1
      control:
        - mockIgG_DMSO_1
      extra: '--nomodel -p 0.05 --cutoff-analysis'

    - label: MTHFD1_DMSO_2
      algorithm: macs2
      ip:
        - MTHFD1_DMSO_2
      control:
        - mockIgG_DMSO_2
      extra: '--nomodel -p 0.05 --cutoff-analysis'

fastq_screen:
  - label: rRNA
    organism: human
    tag: small-gencode-v28
  - label: PhiX
    organism: phix
    tag: default
  - label: Human
    organism: human
    tag: small-gencode-v28
    organism: dmel
    tag: test
  - label: Fly
    organism: dmel
    tag: test

merged_bigwigs:
  BRD4_dBET6_1:
    - BRD4_dBET6_1
    - BRD4_dBET6_2

aligner:
  index: 'bowtie2'
  tag: 'small-gencode-v28'

include_references:
<<<<<<< HEAD
  - '../../include/reference_configs/PhiX.yaml'
  - '../../include/reference_configs/Test_Homo_sapiens.yaml'
||||||| 39fd02a
  - '../../include/reference_configs/PhiX.yaml'
  - '../../include/reference_configs/Drosophila_melanogaster.yaml'
  - '../../include/reference_configs/test.yaml'
=======
  - '../../include/reference_configs/Drosophila_melanogaster.yaml'
  - '../../include/reference_configs/test.yaml'
>>>>>>> master
